<!DOCTYPE html>
<html lang="en">

<head>


    <title>UO-Hao</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min_home.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/home.css" rel="stylesheet">

        <!-- Navigation -->
      <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">uOttawa Resume Database</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="Jobs.html">Jobs</a>
                    </li>
                    <li>
                        <a href="Resume Review.html">Resume Review</a>
                    </li>
                    <li>
                    <a href='Student Login.html'>
                        Student Login</a>
                    </li>
					</li>
					<li>
                    <a href='Student Information'>
                        Student Information</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

</head>

<body>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Coop Resume Review
                    <small>Navigate From Here</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        
            <div class="col-md-6 portfolio-item">
                <a href="#">
                    <img class="img-responsive img-border-left" src="fonts/Jobs.jpg" alt="">
                </a>
                <h3>
                    <a href="Jobs.html">Find Jobs</a>
                </h3>
                <p>Job Listing Page.</p>
            </div>
                <div class="row">
            <div class="col-md-6 portfolio-item">
                <a href="#">
                    <img class="img-responsive img-border-left" src="fonts/Review.jpg" alt="">
                </a>
                <h3>
                    <a href="Resume Review.html">Resume Review</a>
                </h3>
                 <p>Reviews can be made to a Resume.</p>
        </div>
        <div class="row">
            <div class="col-md-6 portfolio-item">
                <a href="#">
                   <img class="img-responsive img-border-left" src="fonts/Students.jpg" alt="">
                </a>
                <h3>
                    <a href="Student Login.html">Student Log-In</a>
                </h3>
                <p>Students at the University of Ottawa
                    can login with their credentials and
                    upload, update and see reviews on their resume.</p>
            </div>
        <!-- /.row -->

        <!-- Projects Row -->

        <!-- /.row -->

        <hr>

        <!-- Pagination -->
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
